.create-entry {
  display: grid;
  grid-template-columns: 500px 400px 60px 60px 100px 80px;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". . . . . .";
  justify-content: start;
  justify-items: start;
  align-items: center;
  padding: 10px;
}
